# Core Streamlit and web
streamlit
requests
beautifulsoup4

# Data handling
pandas
PyPDF2
pdfminer.six
python-docx # For importing docx
openpyxl
xmltodict==0.13.0

# AI / cloud
openai
google-generativeai
boto3 # Includes botocore
python-dotenv
streamlit-timeline

